/*

Template: Appino - Responsive App Landing Page
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in

NOTE: You can use your styling layout by this file to your website.

*/
/*** Portfolio ***/
.portfolio .main-content {
    padding-bottom: 60px;
    margin-top: -15px;
  }
  
  /* Grid */
  
  .portfolio .grid-gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .portfolio .grid-gallery figure {
    margin: 0;
  }
  
  .portfolio .grid-gallery figure img {
    display: block;
    width: 100%;
    border-radius: 5px;
    transition: .3s;
  }
  
  .portfolio .grid-wrap {
    margin: 0 auto;
  }
  
  .portfolio .grid {
    margin: 0 auto;
  }
  
  .portfolio .grid li {
    width: 33.333333%;
    float: left;
    cursor: pointer;
    padding: 15px;
  }
  
  .portfolio .grid figure {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    padding: 0;
    position: relative;
    overflow: hidden;
  }
  
  .portfolio .grid figure img {
    display: block;
    position: relative;
  }
  
  .portfolio .grid li a {
    overflow: hidden;
  }
  
  .portfolio .grid li figure div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .portfolio .grid li figure div span {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
  }
  
  /* Slideshow */
  
  .portfolio .slideshow {
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1111;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
    text-align: left;
  }
  
  .portfolio .slideshow-open .slideshow {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  
  .portfolio .slideshow ul {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 150px);
    transform: translate3d(0, 0, 150px);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }
  
  .portfolio .slideshow ul.animatable>li {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }
  
  .portfolio .slideshow-open .slideshow ul {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .portfolio .slideshow ul>li {
    width: 660px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -280px 0 0 -330px;
    visibility: hidden;
  }
  
  .portfolio .slideshow ul>li.show {
    visibility: visible;
  }
  
  .portfolio .slideshow ul>li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 111;
    border-radius: 10px;
  }
  
  .portfolio .slideshow ul>li.current:after {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
    transition: opacity 0.3s, visibility 0s 0.3s;
  }
  
  .portfolio .slideshow figure {
    width: 100%;
    height: 100%;
    background: #252525;
    padding: 30px;
    overflow: auto;
    border-radius: 10px;
  }
  
  .portfolio .slideshow a {
    text-decoration: underline;
  }
  
  .portfolio .slideshow figcaption {
    margin-bottom: 15px;
  }
  
  .portfolio .slideshow figcaption h3 {
    text-transform: uppercase;
    padding: 10px 0 20px;
    font-weight: 700;
    text-align: center;
    font-size: 33px;
  }
  
  /* Embedded Videos */
  
  .portfolio .slideshow .videocontainer,
  .portfolio .slideshow .responsive-video {
    max-width: 100%;
    border-radius: 4px;
    display: block;
    object-fit: cover;
  }
  
  .portfolio .slideshow .videocontainer {
    position: relative;
    padding-bottom: 56.20%;
    padding-top: 0;
    height: 0;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
    display: block;
    margin: 0;
    border-radius: 4px;
  }
  
  .portfolio .slideshow .videocontainer iframe,
  .portfolio .slideshow .videocontainer object,
  .portfolio .slideshow .videocontainer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  /* Carousel */
  
  .portfolio .slideshow .carousel-indicators {
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    padding: 10px 0;
    margin: 0;
  }
  
  .portfolio .slideshow .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 7px;
    background-color: #fff;
    opacity: 1;
  }
  
  /* Navigation */
  
  .portfolio .slideshow nav span {
    position: fixed;
    z-index: 1000;
    text-align: center;
    cursor: pointer;
    padding: 200px 30px;
    color: #fff;
  }
  
  .portfolio .slideshow nav span.nav-prev,
  .portfolio .slideshow nav span.nav-next {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 41px;
    line-height: 58px;
  }
  
  .portfolio .slideshow nav span.nav-prev {
    left: 0;
  }
  
  .portfolio .slideshow nav span.nav-next {
    right: 0;
  }
  
  .portfolio .slideshow nav span.nav-close {
    top: 30px;
    right: 30px;
    padding: 0;
  }
  /* /////////////////////////////////////// */ color
/* =================================================================== */
/* BLUE #7ED957
====================================================================== */

.home h1,
.about .box-stats h3,
.title-section h1 span,
#menu li.active a,
body.light #menu li.active a,
.blog .post-container:hover .post-content .entry-header h3 a,
.blog .post-content .entry-header h3 a:hover,
.contact .custom-span-contact i,
.portfolio .slideshow figcaption h3,
.portfolio .slideshow a,
.portfolio .grid figure:hover figcaption,
.blog-post .meta i{
	color: #7ED957;
}
.home .home-details h1:before,
.about .resume-box .icon,
.contact ul.social li a:hover,
body.light.contact ul.social li a:hover,
.preloader .loader,
.blog .page-link:hover,
.blog .page-item.active .page-link,
body.light.blog .page-link:hover,
body.light.blog .page-item.active .page-link,
.portfolio .grid li figure div,
.header ul.icon-menu li.icon-box.active, .header ul.icon-menu li.icon-box:hover,
body.light .header ul.icon-menu li.icon-box.active, body.light  .header ul.icon-menu li.icon-box:hover,
.btn,
.header .icon-box h2,
.home .color-block,
.title-section hr,
.portfolio .slideshow .carousel-indicators li.active,
.button:before,
.button-icon{
	background-color: #7ED957;
}
.contact .contactform input[type=text]:focus,
.contact .contactform input[type=email]:focus,
.contact .contactform textarea:focus,
body.light.contact .contactform input[type=text]:focus,
body.light.contact .contactform input[type=email]:focus,
body.light.contact .contactform textarea:focus,
.blog .page-item.active .page-link,
.blog .page-link:hover,
body.light.blog .page-item.active .page-link,
body.light.blog .page-link:hover,
.button{
	border: 1px solid #7ED957;
}
.blog .post-thumb {
	border-bottom: 5px solid #7ED957;
}
.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
	border: 0.08em solid #7ED957;
}